<div class="col-6">
    <input type="submit" class="btn btn-primary form-control" value="추가하기" />
</div>
<div class="col-6">
    <a asp-action="Index" class="btn btn-secondary form-control">목록으로</a>
</div>