@model int

<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-primary form-control" asp-route-id="@Model" value="변경하기" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-secondary form-control">목록으로</a>
    </div>
</div>