@using Mosdong.Utility
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>한국상점 모스동</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />


    <style>
        .dropdown-hover-all .dropdown-menu, .dropdown-hover > .dropdown-menu {
            margin: 0
        }
    </style>
</head>

<body class="lottemartdream">

    <header>
        <div class="lottemartdream">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-lg navbar-toggleable-sm bg-primary mainmenu">
                    <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index"><text style="font-family:LotteMartDream">한국상점</text> <text style="font-family:Binggrae-Bold">모스동</text><span class="sr-only">(current)</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav">
                            <partial name="_LoginPartial" />
                        </ul>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav flex-grow-1">
                                    @if (User.IsInRole(SD.ManagerUser))
                                    {
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="dropdown00" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                상점 관리
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown00">
                                                <div class="dropdown dropright">
                                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">카테고리</a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                                        <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Admin">카테고리 1</a>
                                                        <a class="dropdown-item" asp-action="Index" asp-controller="SubCategory" asp-area="Admin">카테고리 2</a>
                                                        <a class="dropdown-item" asp-action="Index" asp-controller="MiniCategory" asp-area="Admin">카테고리 3</a>
                                                    </div>
                                                </div>
                                                <a class="dropdown-item" asp-action="Index" asp-controller="ProductItem" asp-area="Admin">상품목록</a>
                                                <a class="dropdown-item" asp-action="Index" asp-controller="Coupon" asp-area="Admin">쿠폰목록</a>
                                                <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Admin">직원계정</a>
                                                <div class="dropdown-divider"></div>
                                                <div class="dropdown dropright">
                                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layouts</a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                                        <a class="dropdown-item" href="#">Basic</a>
                                                        <a class="dropdown-item" href="#">Compact Aside</a>
                                                        <div class="dropdown-divider"></div>
                                                        <div class="dropdown dropright">
                                                            <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Custom</a>
                                                            <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                                                <a class="dropdown-item" href="#">Fullscreen</a>
                                                                <a class="dropdown-item" href="#">Empty</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item" href="#">Magic</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                    @await Component.InvokeAsync("TopNav")


                                </ul>
                            </div>
</div>
                </nav>
            </div>
            <div class="container">
                <div class="row py-3">
                    <div class="input-group col-9 form-inline">
                       
                            <input type="text" class="form-control" placeholder="검색어를 입력하세요">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">&nbsp;<i class="fas fa-search"></i></button>
                            </div>

                        
                    </div>
                    <div class="col-3 text-right">
                        <a href="#" style="font-size:16pt;text-decoration:none">
                            <i class="fas fa-shopping-cart"></i>(0)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top pl-3 footer text-white-50" style="background-color:#343a40;">
        <div class="container">
            &copy; @DateTime.Now.Year - Mosdong
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/6jljvrt59k204g0az00spikzz4cfbk1jwbvqsk3rbwvrglt4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script type="text/javascript" charset="utf8" src="~/DataTables/datatables.js"></script>

    <script src="https://kit.fontawesome.com/8cc909eb3b.js" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
