<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>한국상점 모스동</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <script src="https://kit.fontawesome.com/8cc909eb3b.js" crossorigin="anonymous"></script>
    <style>
        .dropdown-hover-all .dropdown-menu, .dropdown-hover > .dropdown-menu {
            margin: 0
        }
    </style>
</head>

<body class="lottemartdream">
    <header>
        <div class="lottemartdream">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-lg navbar-toggleable-sm bg-primary mainmenu">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><text style="font-family:LotteMartDream">한국상점</text> <text style="font-family:Binggrae-Bold">모스동</text><span class="sr-only">(current)</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown00" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        상점 관리
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown00">
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Admin">카테고리</a>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="SubCategory" asp-area="Admin">하위 카테고리</a>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="ProductItem" asp-area="Admin">상품목록</a>
                                        <a class="dropdown-item">Coupons</a>
                                        <a class="dropdown-item">Users</a>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown dropright">
                                            <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layouts</a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                                <a class="dropdown-item" href="#">Basic</a>
                                                <a class="dropdown-item" href="#">Compact Aside</a>
                                                <div class="dropdown-divider"></div>
                                                <div class="dropdown dropright">
                                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Custom</a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                                        <a class="dropdown-item" href="#">Fullscreen</a>
                                                        <a class="dropdown-item" href="#">Empty</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Magic</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-store col-1"></i> 한국상점</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <!--코딩해결못함<partial name="_NavBarCategoryPartial" /> CategoryNavigationModel.cs 수정필요-->
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown dropright">
                                            <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layouts</a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                                <a class="dropdown-item" href="#">Basic</a>
                                                <a class="dropdown-item" href="#">Compact Aside</a>
                                                <div class="dropdown-divider"></div>
                                                <div class="dropdown dropright">
                                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Custom</a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                                        <a class="dropdown-item" href="#">Fullscreen</a>
                                                        <a class="dropdown-item" href="#">Empty</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Magic</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-utensils col-1"></i> 청정식품</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                                        <a class="dropdown-item" href="#">Single App</a>
                                        <a class="dropdown-item" href="#">Multiple Works</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Disctribution</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-store-alt col-1"></i> 반찬가게</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                                        <a class="dropdown-item" href="#">Single App</a>
                                        <a class="dropdown-item" href="#">Multiple Works</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Disctribution</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bread-slice col-1"></i> 자스민/삼미</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                                        <a class="dropdown-item" href="#">Single App</a>
                                        <a class="dropdown-item" href="#">Multiple Works</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Disctribution</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="container">검색창</div>
        </div>
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top pl-3 footer text-white-50" style="background-color:#343a40;">
        <div class="container">
            &copy; @DateTime.Now.Year - Mosdong
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
