@model int

<td style="text-align:right;">
    <div class="btn-group" role="group">
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-Id="@Model">
            <i class="fas fa-edit">수정</i>
        </a>
        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-Id="@Model">
            <i class="fas fa-trash-alt">삭제</i>
        </a>
    </div>
</td>


